RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=chunks
POSTGRES_DSN=postgresql://postgres:postgres@postgres:5432/hpcdb
RAY_ADDRESS=ray://ray-head:10001
CHUNK_SIZE_MB=1
CHUNK_SIZE_KB=1024
HPC_BACKEND=ray
CHUNK_ENCRYPTION_ENABLED=true
CHUNK_ENCRYPTION_KEY=/IN3hnmmbFWKX1541SOACiC7B7Yc5NdfQUjOJrrBUgM=
POSTGRES_DB=hpcdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
